<div class="box box-default">
  <%= simple_form_for [@prospect, @followup] do |f| %>
    <div class="box-body">
      <%= f.input :visit_type %>
      <%= f.input :date %>
      <%= f.input :comments %>
      <%= f.submit :submit %>
    </div>
  <% end %>
</div>